.translate-button {
  position: absolute;
  z-index: 9999;
  cursor: pointer;

  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  outline: none;

  background: linear-gradient(to right, #00b09b, #96c93d);
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}


.translate-popup {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 800px;
  min-width: 200px;
  z-index: 10000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 1.5;
}